*.class
.classpath
# Mobile Tools for Java (J2ME)
.mtj.tmp/
README.md
# Package Files #
*.jar
*.war
*.ear
*.iml
.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# IntelliJ project files
.idea/
.idea/5zig-TIMV-Plugin.iml
.idea/kotlinc.xml
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.settings/

.github/
