*.class
.classpath
# Mobile Tools for Java (J2ME)
.mtj.tmp/
README.md
# Package Files #
*.jar
*.war
*.ear
*.iml
.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

.DS_Store

# IntelliJ project files
.idea/
.idea/5zig-TIMV-Plugin.iml
.idea/kotlinc.xml
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.settings/

.github/
/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.2.1/fileChanges/last-build.bin
/.gradle/5.2.1/fileHashes/fileHashes.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.2.1/gc.properties
/.gradle/5.4.1/executionHistory/executionHistory.bin
/.gradle/5.4.1/executionHistory/executionHistory.lock
/.gradle/5.4.1/fileChanges/last-build.bin
/.gradle/5.4.1/fileContent/fileContent.lock
/.gradle/5.4.1/fileHashes/fileHashes.bin
/.gradle/5.4.1/fileHashes/fileHashes.lock
/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
/.gradle/5.4.1/javaCompile/classAnalysis.bin
/.gradle/5.4.1/javaCompile/jarAnalysis.bin
/.gradle/5.4.1/javaCompile/javaCompile.lock
/.gradle/5.4.1/javaCompile/taskHistory.bin
/.gradle/5.4.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/build/reports/checkstyle/main.html
/build/reports/checkstyle/main.xml
/build/resources/main/core/messages/hive.properties
/build/resources/main/img/logo.png
/build/resources/main/lang/language_en_US.properties
/build/resources/main/lang/language_it_IT.properties
/build/resources/main/modules.json
/build/resources/main/plugin.json
/build/tmp/jar/MANIFEST.MF
/out/production/classes/META-INF/5zig-TIMV-Plugin.main.kotlin_module
/out/production/resources/core/messages/hive.properties
/out/production/resources/img/logo.png
/out/production/resources/lang/language_en_US.properties
/out/production/resources/lang/language_it_IT.properties
/out/production/resources/modules.json
/out/production/resources/plugin.json
